* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


html, body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial;
    background-color: #240046;
}
.navbar {
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;
    padding: 0 30px 0 100px;
    background-color: #ffb703;
}

.navbar .contenido {
	align-items: center;
    background-color: #ffb703;
	display:flex;
	justify-content: space-between;
	margin: 0 auto;
    padding: 0 30px 0 100px;
}

.bars ul {
	display: inline-flex;
	align-items: center;
	list-style: none;
    height: 100px;
	width: 400px;
	justify-content: space-between;
	padding: 0;
	padding-left: 4px;
}
.bars ul li a {
	text-decoration: none;
	justify-content: space-between;
	color:#240046;
    font-weight: bold;
    font-size: 20px;
	transition: 1s;
}
.bars ul li a:hover {
	text-decoration: none;
	justify-content: space-between;
	color:white;
}
.ingreso ul {
	display: inline-flex;
    justify-content: space-between;
	align-items: center;
	list-style: none;
    height: 100px;
	width: 400px;
	padding: 0;
	padding-left: 4px;
}
.ingreso ul li a {
	text-decoration: none;
	color:#ffb703;
	transition: 1s;
	text-transform: uppercase;
}
.ingreso ul li a:hover {
	text-decoration: none;
	color: #f0f0f0;
}
button {
    font-size: 15px; 
    border-radius: 20px; 
    padding: 10px; 
    font-weight: bold;
    background-color: #240046;
}
.link{
    color: #ffb703; 
    text-decoration: none; 
    background: #240046;
}


.title{
	position: absolute;
    width: 80px;
    height: 70px;
    justify-content: center;
	align-items: center;
  }

.bars-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .8);
	display: none;
	position: fixed;
	z-index: 99;
	right: 7px;
	top: 11px;
	color: #a2a3b7;
	cursor: pointer;
}
@media screen and (max-width: 1300px) {
	.navbar {
        width: 100%;
    }
    .navbar .contenido {
		justify-content: left;        
	}
	.bars-button {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bars {
		position: fixed;
		background: rgba(0, 0, 0, .5);
		z-index: 98;
		top: 0;
		right: -100vw;
		width: 100vw;
		bottom: 0;
		display: flex;
		justify-content: flex-end;
		transition: .3s;
	}  
	.bars.is-active {
		right: 0;
	}
	.bars ul {

        background-color: transparent;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.bars ul li {
		padding: px;
        background-color: transparent;

	}
	.bars ul li a {
		color: #ffb703;
        background-color: transparent;
		font-weight: 700;
	}
	.title {

        display: flex;
        align-items: center;
        font-size: 100%; 
        color:#240046; 
    }
    .ingreso ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        height: 100px;
        width: 400px;
        padding: 0;
        padding-left: 4px;
    }
    .ingreso ul li a {
        text-decoration: none;
        color:#ffb703;
        transition: 1s;
        text-transform: uppercase;
    }

}

hr{
    color: #ffb703;
    size: 7px;
    background-color: #ffb703;
  }

  .hr{
    color: #ffb703;
    size: 7px;
    background-color: #ffb703;
  }
  h1{
    font-size: 35px; 
    margin-right:auto; 
    padding:0 20px; 
    color:#ffb703; 
    text-align:center; 
  }
.tableActi{
  width: 100%; 
  text-align: center; 
  font-size: 30px;
}

@media screen and (max-width: 600px) {
    .navbar {
        width: 100%;
    }
    .navbar .contenido {
		justify-content: left;        
	}
	.bars-button {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bars {
		position: fixed;
		background: rgba(0, 0, 0, .5);
		z-index: 98;
		top: 0;
		right: -100vw;
		width: 100vw;
		bottom: 0;
		display: flex;
		justify-content: flex-end;
		transition: .3s;
	}  
	.bars.is-active {
		right: 0;
	}
	.bars ul {

        background-color: transparent;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.bars ul li {
		padding: px;
        background-color: transparent;

	}
	.bars ul li a {
		color: #ffb703;
        background-color: transparent;
		font-weight: 700;
	}
	div.title {

        display: flex;
        align-items: center;
        font-size: 100%; 
        color:#240046; 
    }
    .ingreso ul {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        list-style: none;
        height: 100px;
        width: 400px;
        padding: 0;
        padding-left: 4px;
    }
    .ingreso ul li a {
        text-decoration: none;
        color:#ffb703;
        transition: 1s;
        text-transform: uppercase;
    }
    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}
.content-all{
    width: 210px;
    height: 300px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    height: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}


button {
    font-size: 15px; 
    border-radius: 20px; 
    padding: 10px; 
    font-weight: bold;
    background-color: #240046;
}

.log{
    background-color: #ffb703;
}

.link{
    color: #ffb703; 
    text-decoration: none; 
    margin: 20px;
    background: #240046;
}

.mass{
  color: #000000; 
  text-decoration: none; 
  margin: 5px 25px;
  border-color: #240046 3px;
  background-color: #ffb703;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.footer-distributed{
  background: #ffb703;
  box-shadow: 0 1px 1px 0 rgba(69, 16, 75, 0.12);
  box-sizing: border-box;
  font-weight: bold;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #240046;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left{
  float: left;
}

/* The company logo */

.footer-distributed h3{
  color:  #240046;
  font: normal 36px 'Roboto', cursive;
  margin: 0 0 10px;
}

.footer-distributed h3 span{
  color:  #240046;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #240046;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #240046;
  font-weight: bold;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
  margin-top: 40px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #240046;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
  float: right;
}

.footer-distributed .footer-right p{
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #240046;
}

/* The contact form */

.footer-distributed form{
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color:  #f5f6fa;
  box-shadow: 0 1px 0 0 #240046;
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color:  #d1d2d2;

  width: 300px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color: #240046;
}

.footer-distributed ::-moz-placeholder {
  color:  #5c666b;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
  color:  #5c666b;
}


.footer-distributed form input{
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea{
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button{
  border-radius: 3px;
  background-color:  #240046;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name{
    font-size: 12px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea{
    width: 250px;
  }

  .footer-distributed form button{
    padding: 10px 35px;
  }

}

@media (max-width: 800px) {

  .footer-distributed{
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left{
    margin-bottom: 40px;
  }

  .footer-distributed form{
    margin-top: 30px;
  }

  .footer-distributed form{
    display: block;
  }

  .footer-distributed form button{
    float: none;
  }
}