* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #240046;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
  }

  h1{
    font-size: 35px; 
    margin-right:auto; 
    padding:0 20px; 
    color:#ffb703; 
    text-align:center; 

  }

  .title{
    background-color: #ffb703;
    color: #240046;
  }
  
  header {
    width: 100%;
    height: 10px;
    padding: 40px;
    text-align: center;
    background-color: #ffb703;
    display: flex; 
    align-items:center; 
    justify-content: flex-end;
    color: #240046;
  }
  
  hr{
    color: #ffb703;
    size: 7px;
    background-color: #ffb703;
  }

  .hr{
    color: #ffb703;
    size: 7px;
    background-color: #ffb703;
  }

  nav ul {
    text-align: center;
    list-style: none;
    overflow: hidden;
    background-color: #ffb703;
  
  }
  
  ul li {
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
    background-color: #ffb703;


  }
  

  
  ul li a {    
    color: #240046;
    background: #ffb703;
    text-decoration: none;
  }
  
  .hide {
    padding: 16px;
    font-size: 22px;
    color: #240046;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 768px) {
    ul li {
      width: 100%;
      padding: 15px;
      text-align: left;
    }
  
    .hide {
      display: block;
    }
  
    nav ul {
    display: none;
  
    }
  }


  button {
    font-size: 15px; 
    border-radius: 20px; 
    padding: 10px; 
    font-weight: bold;
    background-color: #240046;
  }

  .mas{
    margin-left: 60em; 
    font-size: 19px; 
    background-color: #ffb703; 
    border-radius: 20px; 
    padding: 10px 25px; 
    font-weight: bold; 
    border-color: #ffb703;
  }

  .log{
    background-color: #ffb703;
  }

  .link{
    color: #ffb703; 
    text-decoration: none; 
    margin: 20px;
    background: #240046;
}

.mass{
  color: #000000; 
  text-decoration: none; 
  margin: 5px 25px;
  border-color: #240046 3px;
  background-color: #ffb703;
}